/* Basic Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  color: hsl(214, 17%, 51%);
  background-color: hsl(210, 46%, 95%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 1.2rem 0;
}

p {
  line-height: 1.8;
}

.page-container {
  margin: 4rem 1.5rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 -1px 35px -12px hsl(212, 23%, 69%);
  display: flex;
  flex-direction: column;
  width: 85%;
  position: relative;
}

.img-container {
  background-image: url(/images/drawers.jpg);
  background-size: cover;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-container {
  padding: 0 2rem;
}

.article-text {
  margin-bottom: 1rem;
}

/* Author Section Styles */
.author-info {
  display: grid;
  height: 90px;
  grid-template-columns: 1fr 3fr 2fr;
  align-items: center;
  justify-content: center; 
}

#michelle {
  border-radius: 50%;
  height: 50px;
  margin-right: 15px;
}

.author-text {
  line-height: 1;
}

.author-name {
  font-weight: bold;
}

.date {
  opacity: 60%;
}

/* Share Button and Social Icons */

.share-img {
  justify-self: flex-end;
  width: 40px;
  padding: 10px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  transition: all 0.5s ease;
}

.share-img:hover {
  opacity: 50%;
}

.social-icon {
  transition: all 0.5s ease;
}

.social-icon:hover {
  cursor: pointer;
  opacity: 50%;
  transform: scale(1.5,1.5);
}

.social-bar {
  opacity: 0;
  position: absolute;
}

.social-bar.active {
  width: 100%;
  bottom: 0;
  background-color: hsl(217, 19%, 35%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 2rem;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

.share-text {
  letter-spacing: 5px;
  color: hsl(212, 23%, 69%);
}

@media (min-width: 700px) {

  .page-container {
    flex-direction: row;
    position: relative;
    width: 700px;
    height: 300px;
  }

  h2 {
    font-size: 20px;
  }

  .img-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

  #drawers {
    top: 0;
    right: 0;
  }

  .social-bar.active {
    position: absolute;
    z-index: 1;
    justify-content: space-evenly;
    display: flex;
    border-radius: 10px;
    height: 50px;
    width: auto;
    right: -65px;
    bottom: 95px;
  }

  .social-bar.active::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid hsl(217, 19%, 35%);
    top: 100%;
    left: 45%;
  }

  .social-icon {
    padding: 0.5rem;
  }
}